:root {
  --ungu: #800080;
  --putih: #FFFFFF;
  --abu-abu: #808080;
  --biru: #0000FF;
  --hijau-muda: #00FFFF;
  --merah: #FF0000;
  --hitam: #000000;
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

h3 a:hover {
  color: red;
}

h3 li {
  list-style: none;
  display: inline;
  margin: 0.7rem;
}
